
body {
    display: flex;
    justify-content: space-evenly;
    
}
.third{
    margin-top: 110px;
    width: 230px;
    height: 330px;
    background:
    linear-gradient(55deg, aqua 15%,  #1B4F72 65%);
    border: solid black 3px;
} 
.jerry{
    margin-top: 110px;
    width: 230px;
    height: 330px;
    background:
    linear-gradient(55deg, aqua 15%,  #1B4F72 65%);
    border: solid black 3px;
}

.polo{
     margin-top: 180px;
    width: 230px;
    height: 330px;
    background:
    linear-gradient(55deg, aqua 15%,  #1B4F72 60%);
    border: solid black 3px;
}
.square{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: relative;
    left: 53px;
    top: -58px;
    border: black solid 3px;
}
h1{
    text-align: center;
    color: white;
    margin-top: -30px;
}
p{
    color: white;
    font-size: large;
    margin-top: -30px;
    margin-left: 10px;
}
